{%extends "layout.html"%}
{% block body %}

    <h1>About</h1>

    <a>“The fall in mathematics has been even more marked, with the mean score falling from 519.3 to 494.5, and the ranking falling from seventh to 22nd, behind Latvia, France and Iceland, and just ahead of Portugal.”  
    I aim to create an application to share some of the cool questions I have solved, to hopefully intrigue and encourage others to try. I believe the score dropping is due to many not finding mathematics “fun”, so by sharing questions with unique solutions, I aim for the students to see maths as more of a puzzle rather than just repetitive grinding and memorising formulas. 
    This application will display the questions in a fashion similar to that of CodeWof. The questions will be displayed in boxes that show tags of their categories, such as where they came from and the technique they require. i.e., a question asking for the area of a triangle would have a tag of “Geometry”. 
    </a>

{% endblock %}