<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    
    <title>Fun questions</title>
</head>
<body>
    
    <ul>
    <li><a href="{{ url_for('dashboard') }}">Dashboard/Login</a></li>
    
    <li class="dropdown">
        <a href="{{ url_for('questions') }}" class="dropbtn">Questions Page ▾</a>
        <div class="dropdown-content">
        <a href="{{ url_for('Type', Id=1) }}">Calculus</a>
        <a href="{{ url_for('Type', Id=2) }}">Geometry</a>
        <a href="{{ url_for('Type', Id=3) }}">Algebra</a>
        <a href="{{ url_for('Type', Id=4) }}">Counting</a>
        <a href="{{ url_for('Type', Id=5) }}">Number Theory</a>
        </div>
    </li>

    <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
    {% block body %}
    {% endblock %}
</body>
</html>  