{%extends "layout.html"%}
{% block body %}
 <div class="two-column">
    <img src="{{ url_for('static', filename=question[1]) }}" alt="question[7]">
    <div class = "info">
      <h1>Source: {{ question[3] }}</h1>
      <h1>Question Type: {{ question[4] }}</h1>
      <h1>Description:</h1>
      <h1>{{ question[2]}}</h1>
    </div> 
 </div>

 <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.answer.label }}
    {{ form.answer() }}

    {{ form.submit() }}
</form>

<h1>My Solution: </h1>
<img src="{{ url_for('static', filename= solution) }}" alt="question[7]">
{{ display }}

<a class="ex1" href="{{url_for('questions')}}">Home</a> <br>


{% endblock %}