{%extends "layout.html"%}
{% block body %}
<h1>Have fun!</h1>

 <div class="two-column">
    <img src="{{ url_for('static', filename=question[1]) }}" alt="question[7]">
    <div class = "info">
      <h2>Source: <span>{{ question[3] }}</span></h2>
      <a class="badge" href="{{ url_for('Type', Id=question[5]) }}" >Type: {{ question[4] }}</a>
      <h3>Description</h3>
      <p class="description">{{ question[2] }}</p>
    </div> 
 </div>

 <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.answer.label }}
    {{ form.answer() }}

    {{ form.submit() }}
    <p class="status-msg">{{ display }}</p>
</form>

{% if solution %}
    <div class="solution-section">
        <h2>My Solution</h2>
        <div class="image-card">
            <img src="{{ url_for('static', filename=solution) }}" alt="Solution Image">
        </div>
        
    </div>
{% endif %}


<a class="ex1" href="{{url_for('questions')}}">Back</a> <br>


{% endblock %}